.content{
    grid-area: c;
    background-color: white;
    color: black;
    width: 1082px;
    border: 1px solid #c9c9c9;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: none;
    margin-bottom: 50px;
}
.super{
    margin-left: 10px;
}
.image{
    height: 200px;
    width: 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.main{
    display: flex;
    justify-content: center;
    width: 880px;
    column-gap: 20px;
    margin-bottom: 20px;
}
.text{
    display: inline-block;
    margin-left: 50px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.imageEdit{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 190px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background: #369cf6;
    color: white;
    padding: 0 5px;
}
.imageEdit:hover{
    background-color: #2f4c7e;
    cursor: pointer;
}
.position{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.input[type=file]{
    position: absolute;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: 190px;
    margin-left: 10px;
}

.label{
    position: relative;
    display: inline-block;
}

.item{
    color: white;
}
.contacts{
    margin-left: 78px;
}
.button{
    background-color: #369cf6;
    color: white;
    border: none;
    margin-left: 5px;
    border-radius: 20px;
}
.button:hover{
    background-color: #2f4c7e;
    cursor: pointer;
}

.textArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    column-gap: 20px;
}

.p {
    width: 75px;
}