.flex{
    display: flex;
}
.flexWrap {
    flex-wrap: wrap;
}
.icon{
    width: 100px;
    border-radius: 50px;
}
.card{
    border: 1px solid #cbcbcb;
    padding: 20px;
    border-radius: 30px;
    display: block;
    margin-left: 25px;
    margin-top: 25px;
    width: 290px;
}
.followContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #369cf6;
}
.follow:hover{
    background-color: #2f4c7e;
    cursor: pointer;
}

.MessageContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}