
.flex{
    display: flex;
    justify-content: center;
}
.flexWrap {
    flex-wrap: wrap;
}
.width {
    width: 100%;
}
.inlineBlock{
    display: inline-block;
}
.FindUsers{
    grid-area: c;
    background-color: white;
    color: black;
    width: 1082px;
    border: 1px solid #c9c9c9;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: none;
    margin-bottom: 50px;
}

.content{
    display: inline-block;
    width: 100%;
}
/*Заголовок*/
.title{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}



/*Показать еще*/
.showMore{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    column-gap: 30px;
}
.button{
    background-color: #029a02;
    border: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.button:hover{
    background-color: #016b01;

}