.header{
    grid-area: h;
    background-color: #2f4c7e;
    width: 1300px;
    display: flex;
    align-items: center;
}
.Logo{
    width: 70px;
    height: 50px;

}
.head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin-left: 80px;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-right: 20px;
}
.link {
    color: white;
    text-decoration: none;
}