.login {
    grid-area: c;
    background-color: white;
    color: black;
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c9c9c9;
    border-bottom-right-radius: 20px;
    border-top: none;
}

.container {
    width: 600px;
    display: block;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.errorForm {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: red;
}

.button {
    padding: 10px;
    background-color: #369cf6;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #2f4c7e;
}