.Dialogs {
    grid-area: c;
    background-color: white;
    color: black;
    width: 1082px;
    border-top: none;
    margin-bottom: 50px;

}

.container {
    height: 100%;
}

.secondContainer {
    display: flex;

}

.kingInput {
    display: flex;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #a4a4a4;
    border-left: none;
    border-right:none ;
    border-top: none;
    margin-bottom: 5px;
    outline: none;
}

.users {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #9a9a9a;
    border-right: none;
    border-left: none;
    border-top: none;
    color: #494646;
    cursor: pointer;
    text-decoration: none;
}

.users:hover {
    background-color: #104773;
    color: white;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.active {
    display: flex;
    background-color: #16609a;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #9a9a9a;
    border-right: none;
    border-left: none;
    border-top: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.messages {
    background-color: #ffffff;
    display: block;
    width: 70%;
    border: 1px solid #9a9a9a;
    border-radius: 0 0 20px 0;
    height: 100%;
}

.photo {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 20px;
}

.header {
    height: 56px;
    border-bottom: 1px solid #9a9a9a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.headerName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-weight: 700;
}

.text {
    height: 290px;
    overflow: auto;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    border-top: 1px solid #9a9a9a;
}

.textContainer {
    width: 100%;
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.input {
    height: 30px;
    width: 300px;
    resize: none;
    border-radius: 10px;
}

.input:focus {
    border: 1px solid #ffffff;

}

.button {
    padding: 5px;
    background-color: #369cf6;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: #2f4c7e;
}