.nav{
    grid-area: n;
    background-color: white;
    height: 400px;
    border: 1px solid #c9c9c9;
    border-bottom-left-radius: 20px;
    border-right-style: none;
}

.item{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.link {
    color: black;
    text-decoration: none;
    transition: 1s;
    padding: 2px 10px;
    border-bottom: 1px solid #b2b2b2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: inherit;
}
.link:hover{
    background-color: #2f4c7e;
    border-radius: 15px;
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    color: #369cf6;
    background-color: #2f4c7e;
    border-radius: 15px;
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}